<div class="container">
  <div>
    <ngx-i24-color-picker [boxBg]="o1.boxBg"
                          [showBox]="o1.showBox"></ngx-i24-color-picker>
  </div>
  <div>
    <ngx-i24-color-picker [boxBg]="o2.boxBg"
                          [showBox]="o2.showBox"
                          [value]="o2.value"
                          [position]="o2.position"></ngx-i24-color-picker>
  </div>
  <div>
    <ngx-i24-color-picker [ds]="o3.ds"
                          [boxBg]="o3.boxBg"
                          [showBox]="o3.showBox"
                          [value]="o3.value"
                          [position]="o3.position"
                          [boxWidth]="o3.boxWidth"
                          [previewWidth]="o3.previewWidth"
                          [previewHeight]="o3.previewHeight"></ngx-i24-color-picker>
  </div>
  <div>
    <ngx-i24-color-picker [ds]="o4.ds"
                          [boxBg]="o4.boxBg"
                          [showBox]="o4.showBox"
                          [value]="o4.value"
                          [position]="o4.position"
                          [boxWidth]="o4.boxWidth"
                          [previewWidth]="o4.previewWidth"
                          [previewHeight]="o4.previewHeight"></ngx-i24-color-picker>
  </div>
</div>